div {
    width: 631px;
    background-color: green;
    margin-bottom: 3%;
 }
 #blok1_Vashkevich:hover{
    background-color: red;
 }
 #blok2_Vashkevich:hover{
    background-color: orange;
 }
 #blok3_Vashkevich:hover{
    background-color: yellow;
 }
 div:hover {
    font-size: 20mm;
 }


/*hover -> gdy użytkownik najedzie kursorem na dany element
Vashkevich Viktoryia*/